#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# terraform lock files
.terraform.lock.hcl

# go module files
go.mod
go.sum

# include specific files
!Week-6-Serverless-In-Azure-And-AWS/Project-2/Terraform/terraform.tfvars